.CodeMirror {
  font-family: Inconsolata, monospace;
  height: 100%;
}

.cm-s-millrun.CodeMirror {
  background-color: #fcfcfa !important;
  color: #535351 !important;
  border: none;
}

.cm-s-yeti .CodeMirror-gutters {
  color: #adaba6;
  background-color: #E5E1DB;
  border: none;
}

.cm-s-millrun div.CodeMirror-selected { background: #e0e0e0; }
.cm-s-millrun .CodeMirror-line::selection, .cm-s-millrun .CodeMirror-line > span::selection, .cm-s-millrun .CodeMirror-line > span > span::selection { background: #e0e0e0; }
.cm-s-millrun .CodeMirror-line::-moz-selection, .cm-s-millrun .CodeMirror-line > span::-moz-selection, .cm-s-millrun .CodeMirror-line > span > span::-moz-selection { background: #e0e0e0; }
.cm-s-millrun .CodeMirror-gutters { background: #f5f5f5; border-right: 0px; }
.cm-s-millrun .CodeMirror-guttermarker { color: #ac4142; }
.cm-s-millrun .CodeMirror-guttermarker-subtle { color: #b0b0b0; }
.cm-s-millrun .CodeMirror-linenumber { color: #b0b0b0; }
.cm-s-millrun .CodeMirror-cursor { border-left: 1px solid #505050; }

.cm-s-millrun span.cm-comment { color: #D12E4A; }
.cm-s-millrun span.cm-atom { color: #aa759f; }
.cm-s-millrun span.cm-number { color: #aa759f; }

.cm-s-millrun span.cm-property, .cm-s-millrun span.cm-attribute { color: #90a959; }
.cm-s-millrun span.cm-keyword { color: #ac4142; }
.cm-s-millrun span.cm-string { color: #f4bf75; }

.cm-s-millrun span.cm-variable { color: #90a959; }
.cm-s-millrun span.cm-def { color: #d28445; }
.cm-s-millrun span.cm-bracket { color: #202020; }
.cm-s-millrun span.cm-quote { color: #A79E97; }
.cm-s-millrun span.cm-tag { color: #ac4142; }
.cm-s-millrun span.cm-link { color: #aa759f; }
.cm-s-millrun span.cm-error { background: #ac4142; color: #505050; }

.cm-s-millrun .CodeMirror-activeline-background { background: #DDDCDC; }
.cm-s-millrun .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }
