@import "basscss";
@import "./codemirror.css";
@import "./millrun-editor.css";

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #fcfcfa;
  font-family: Inconsolata, monospace;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Inconsolata, monospace;
  color: #D68573;
}

#app {
  margin: 0px auto;
  padding: 0px 0px 45px 0px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.editor-wrapper {
  height: 100%;
  width: 100%;
  margin: 0px auto;
  overflow-y: hidden;
}

.editor-wrapper.hidden {
  display: none;
}

.CodeMirror-sizer {
  margin: 0px auto !important;
  width: 650px;
}

.CodeMirror-scroll {
  padding-top: 50px;
  box-sizing: border-box;
}

.toolbar {
  position: fixed;
  bottom: 0px;
  margin: 0px auto;
  text-align: center;
  padding: 1px 7px;
  width: 100%;
  height: 45px;
  border-top: 1px solid #ddd;
  background-color: #fff;
  box-shadow: -1px 0px 5px 0px rgba(55, 55, 55, 0.2);
}

.toolbar .button-list {
  padding: 0px;
  margin: 0px;
  display: block;
}

.toolbar .button-list.draft-buttons {
  float: right;
  margin-top: 10px;
}

.toolbar .button-list.app-buttons {
  float: left;
  margin-top: 9px;
}

li.info {
  background-color: #fff;
  font-size: 12px;
  padding: 3px 8px;
  margin: 0px 3px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: bottom;
  font-family: Source Sans Pro, sans-serif;
}

input.search-drafts {
  width: 650px;
  padding: 0px;
  border: 0px;
  background-color: transparent;
  display: block;
  margin: 0px auto;
}

input.search-drafts:focus {
  background-color: #fff;
  border-bottom-color: #999;
  outline: none;
}

.draft-list, .dashboard {
  height: 100%;
  width: 100%;
  margin: 0px auto;
  padding-top: 0px;
  overflow-y: auto;
  position: relative;
  top: 0;
  bottom: 0;
}

.draft-list .items, .dashboard-inner {
  width: 650px;
  height: 100%;
  padding: 50px 0px 0px 0px;
  top: 0px;
  bottom: 0;
  margin: 0px auto;
}

.draft-list-item {
  padding-left: 15px;
  border-left: 5px solid #fff;
  margin-bottom: 30px;
}

.draft-list-item:hover {
  border-left: 5px solid #D68573;
}

h2.draft-title {
  cursor: pointer;
  margin-top: 0px;
}

.popup-overlay,
.popup-overlay.visible {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.popup-overlay.hidden {
  display: none;
}

.popup-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid #efefea;
  padding: 30px;
  background-color: #fcfcfa;
  box-shadow: 2px 2px 5px 0px rgba(55, 55, 55, 0.2);
}

.popup-header {}

.popup-close {
  position: relative;
  display: block;
  float: right;
  cursor: pointer;
  font-size: 17px;
  font-family: Source Sans Pro, sans-serif;
  padding: 5px 13px;
}

.popup-close:hover {
  
}

.popup {

}

.popup h1 {
  margin: 0px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
}

.popup h2 {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

button,
.button {
  border: 1px solid #ccc;
  color: #666;
  background-color: #fff;
  cursor: pointer;
  padding: 5px 8px;
  font-family: Source Sans Pro, sans-serif;
  border-radius: 2px;
}

button:hover,
.button:hover {
  color: #fff;
  border: 1px solid #D68573;
  background-color: #D68573;
}

a.button {
  text-decoration: none;
}

button.big {
  padding: 10px 15px;
}

.settings-list {
  margin: 0px;
  padding: 0px;
}

.settings-list-item {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.settings-list-item:last-child {
  border-bottom: 0px;
}
